hr {
	margin-top: 3rem;
	margin-bottom: 3rem;
	color: #FFFFFF;
}
.thin-hr {
	margin-top: -8px;
}
.side-margin {
	margin-left: 7%;
	margin-right: 7%;
}
.sub-title {
	margin-top: 3%;
	font-size: 20px;
	color: #3b3b3b;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 3px;
}
.gray-bar {
	margin-bottom: 5%;
}
.gray-bar p{
	background-color:#eeeeee;
	padding:1.7%;
	width:100%;
}
.title-image {
	width:20%; 
	height:auto;
}
.carousel {
	margin-top: 2%;
}
.navbar {
	width: 100%;
	/* display: inline-block; */
	border:1px solid #eee;
	border-width:1px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	word-spacing: 0%;
}
.navbar li{
	display:inline;
	/* modify this to change li distace */
	padding:0px;
}
.navbar a{
	display:inline-block;
	padding:0;
	color: gray;
}
.active {
}
.text-center {
	margin-top: 7%;
	margin-bottom: 7%;
	margin-left: 7%;
	margin-right: 7%;
}

.nav-link {
	line-height: 50px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 2px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.nav-link a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-link:hover, .dropdown:hover .dropbtn{
	/* background-image: url('../img/icon/triangle.png'); */
	/* background-size: 10px 6px; */
	/* background-repeat: no-repeat; */
	/* background-position: center bottom; */
	/* color: black; */

	background-color: #DADADA;
	color: black;
}

.nav-link.dropdown{
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 191px;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	z-index: 1;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.dropdown-content a {
	line-height: 15px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 2px;
	font-size: 15px;

	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.home-img {
	width:100%;
	height:auto;
}
.content-highlight {
	margin-top: 6%;
	margin-bottom: 4%;
	font-size: 60px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 8px;
}
.content {
	font-size: 12px;
	color:#AAAAAA;
	margin-top: 2%;
	margin-bottom: 10%;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 2px;
}
.introduction {

}
.product-image {
	width: 250px;
	height: 200px;
	display: block;
	/* margin: 0 auto; */
	border-radius: 100%;
	/* -moz-box-shadow: 0 0 10px #ccc; */
	/* -webkit-box-shadow: 0 0 10px #ccc; */
	/* box-shadow: 0 0 10px #ccc; */
	filter:contrast(120%) brightness(120%);
	position: relative;
	left: 23%;
	/* margin-left: auto; */
    /* margin-right: auto; */
}

.swap-img img:last-child{
	display:none;
}
.swap-img:hover img:first-child{
	display:none;
}
.swap-img:hover img:last-child{
	display:inline-block;
}

.product-title {
	margin-top: 10%;
	margin-bottom: 1%;
	font-size: 16px;
	color: #3b3b3b;
	margin-left: 15%;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 1.5px;
	text-align:center;
}
.product-intro {
	font-size: 14px;
	color: #7e7e7e;
	margin-bottom: 20%;
	margin-left: 15%;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 1.5px;
	text-align:center;
}
.EPDM-image {
	width: 70%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.EPDM-title {
	margin-top: 10%;
	margin-bottom: 10%;
	font-size: 20px;
	color: #3b3b3b;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 3px;
}
.EPDM-intro {
	font-size: 16px;
	color: #7e7e7e;
	margin-bottom: 20%;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0.5px;
}
.news-image {
	box-shadow: 3px 3px 3px #aaa;
	width:50%;
	height:auto;
	margin-bottom:50px;
	float: right;
}
.news-title {
	font-size: 18px;
	color: #3b3b3b;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 3px;
}
.news-intro {
	font-size: 16px;
	color: #7e7e7e;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0.5px;
}
.contact-title {
	font-size: 20px;
	color: #3b3b3b;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 3px;
}
.contact-intro {
	font-size: 12px;
	color: #7e7e7e;
	line-height: 25px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 0.5px;
}
.email-image {
	margin-top: 8%;
	margin-bottom: 0%;
}
.email {
	font-size: 29px;
	color: #b0b0b0;
	margin-top: -6%;
	margin-bottom: 3%;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 4px;
}
.coorperation-link {
	font-size: 12px;
	color: #b0b0b0;
	line-height: 30px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 1.5px;
}
.form {
	font-size: 12px;
	color: #7e7e7e;
	font-family: 'PT Sans', sans-serif;
}
.botton {
	font-size: 12px;
	color: black;
	background-color: #FFFFFF;
	width: 60px;
	height: 32px;
	font-family: 'PT Sans', sans-serif;
}

